.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F8F8F8;

  @media (min-width: 1440px) {
    transform: translate(320px);
    width: calc(100% - 320px);
  }

  &__title {
    padding: 0 16px;

    @media (min-width: 768px) {
      padding: 0 24px;
    }

    @media (min-width: 1120px) {
      padding: 0 32px;
    }

    &::before {
      content: "";
      width: 4px;
      height: 40px;
      background-color: #41F6D7;
      left: 0;
      border-radius: 0 4px 4px 0;
      position: absolute;
    }
  }

  &__nav {
    padding: 0 16px;

    @media (min-width: 768px) {
      padding: 0 24px;
    }

    @media (min-width: 1120px) {
      padding: 0 32px;
    }
  }

  &__article {
    margin-bottom: 24px;
  }
}

