.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #D9FFF5;
  color: #7E7E82;
  font-size: 14px;
  line-height: 16px;
  padding: 24px 24px 16px 24px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: baseline;
  }

  @media (min-width: 1440px) {
    transform: translate(320px);
    width: calc(100% - 320px);
  }

  &__info {
    padding-top: 16px;
    text-align: center;

    @media (min-width: 768px) {
      width: 30%;
    }

    &:first-child {
      @media (min-width: 768px) {
        text-align: left;
      }
    }

    &:last-child {
      @media (min-width: 768px) {
        text-align: right;
      }
    }
  }

  &__link {
    color: inherit;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  p {
    margin: 0;
  }
}
