/* Error: Expected identifier.
 *   ,
 * 6 |   .&:hover{
 *   |    ^
 *   '
 *   c:\users\администратор\webstormprojects\1.6\block7\src\scss\logo.scss 6:4  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a   \2577 \a 6 \2502    .&:hover{\a   \2502     ^\a   \2575 \a   c:\\users\\\430 \434 \43c \438 \43d \438 \441 \442 \440 \430 \442 \43e \440 \\webstormprojects\\1.6\\block7\\src\\scss\\logo.scss 6:4  root stylesheet";
}
