.modal {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 575px;
  height: 100vh;
  background-color: white;
  transition: left 1.8s;
  z-index: 30;

  display: none;

  @media (min-width: 768px) {
    left: calc(100% + 100px);
    box-shadow: -10px 0 20px -10px grey;
    width: 440px;
  }

  &--feedback {

    .modal__title--feedback {
      display: block;
    }
  }

  &--call {

    .modal__title--callback {
      display: block;
    }

    .form__name,
    .form__email,
    .form__message {
      display: none;
    }
  }

  &--open {
    display: flex;
    left: calc(100% - 440px);

    @media (min-width: 768px) {

    }

  }

  &__close-btn {
    margin-left: 32px;
    margin-top: 32px;

    @media (min-width: 768px) {
      position: absolute;
      margin-left: -72px;
    }
  }

  &__title {
    padding: 0 32px;
  }
}
