.title {

  &__text::before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    left: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
  }

  &__text {
    display: inline-block;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-align: left;
    font-weight: bold;
    margin: 20px 0;
  }
}
